.page {
  margin-left: 150px;
  margin-top: 10px;
  /* align-content: flex-start; */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-img {
  height: 300px;
  margin: 10px;
}