.page {
  margin-left: 100px;
  margin-top: 10px;
  /* align-content: flex-start; */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-img {
  height: 300px;
  margin: 10px;
}