.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 150px; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-left: 20px;
  /* font-family: 'Helvetica', sans-serif; */
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
  text-decoration: none;
}

.link {
  font-size: 15px;
  font-weight: 300;
  width: 50px
}

.name {
  font-size: 50px;
  color: rgb(70,70,70);
  float: left;
}

.navbar {
  width: 70vw;
  margin: auto;
  margin-top: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.links {
  width: 170px;
}

.details-text {
  margin-left: 18px;
  width: 30vw;
  float: left;
}

.details-photos {
  width: 35vw;
  float: right;
}
